.tophead{
    background-color: #161616;
    color: white;
    display: flex;
    padding-left:35px;
}
.tophead img{
    padding-left: 55%;
    padding-top: 6%;
    height: 30px;

}
.welcome{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/9.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color : white;
    padding-bottom: 10px;
}
.welcome div{
    text-align: center;
    padding-top: 480px;
    
}
.welcome h1{
    text-align: center;
    margin-top: 5PX;
    
}
.atcl{
    color: white;
}
.fruit{
    padding-top: 50px;
    padding-left: 30px;
    
}
.fruit span{
    color:rgb(223, 79, 79);
}
.fruit img{
    height: 180px;
}
body{
    background-color: #181613e7;
}

.cookie{
    text-align: center;
}
.cookie img{
    height: 180px;
}
.cookie span{
    color: #d48700;
}
.roasting {
    padding-top: 50px;
    text-align: right;
}
.roasting span{
    color: #974e23;
}
.roasting img{
    height: 150px;
}
.place{
    height: 200px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/b14.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
  
    padding-top: 180px;
 
}
.goodplace p{
    text-align: center;
    padding-top: 30px;
}
footer{
    background-color: rgb(98, 102, 105);
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
    
}
footer div{
    padding-top: 10px;
}
.box{
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    width: 150px;
    margin-left: 32%;
    border-width: 4px;
    height: 30px;

}